# Supabase - Project https://desgfxqfmuqkslzntefg.supabase.co
SUPABASE_URL=https://desgfxqfmuqkslzntefg.supabase.co
SUPABASE_SECRET_KEY=sb_secret_xxx_ta_cle_service_role_ici
SUPABASE_PUBLISHABLE_KEY=sb_publishable_vpkoBXpNMei3METFgHwgqg_ExHJEOw6

PORT=3000
NODE_ENV=production

# Lien par défaut après paiement accepté
DEFAULT_REDIRECT_URL=https://t.me/Polarish87

# Prix fixe annonce
FIXED_AD_PRICE=1
